header{
    width: 100%;
    background-color: rgba(64, 34, 24,0.7);;
    height: 100px;
}
header h1{
    position: relative;
    top: 35px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
fieldset{
    position: absolute;
    top: 180px;
    width: 450px;
    height: 100px;
    left: 30px;
    background-color: rgba(64, 34, 24,0.7);;
}
body{
    background-image: url("img/book.jpg");
}

table,th,td{
    border: solid black 2px;
}
#table{
    position: absolute;
    right: 100px;
    top: 180px;
    width: 700px;
    background-color: rgba(64, 34, 24,0.7);;
}

#sub{
    background-color: #C68B59; 
 
  text-align: center;
  
  display: inline-block;
  font-size: 16px;
}